/* Task-03 */
#gallery {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
}

#gallery img {
  width: 400px;
  height: 270px;
  display: flex;
}

/* Task-04 */

#counter {
  display: flex;
  justify-content: center;
}

button {
  height: 100px;
  width: 100px;
  background: teal;
  font-size: 50px;
}

#value {
  height: 100px;
  width: 100px;
  font-size: 90px;
  text-align: center;
}

/* Task-03 */

/* Task-03 */

/* Task-03 */
