* {
  padding: 0;
  margin: 0;
}

/* Task-01 */
#categories {
  text-align: center;
  margin-bottom: 50px;
  padding: 30px 0 30px 0;
  list-style: none;
  border: 4px solid rgb(0, 0, 0);
}

/* Task-02 */
#ingredients {
  border: 4px solid rgb(0, 0, 0);
  margin-bottom: 50px;
  text-align: center;
  padding: 30px;
  list-style: none;
  font-size: 20px;
}

/* Task-03 */
#gallery {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 4px solid teal;
  justify-content: space-around;
  margin-bottom: 50px;
}

#gallery img {
  width: 500px;
  height: 300px;
  display: flex;
  padding: 20px 0 20px 0;
}

/* Task-04 */

#counter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

button {
  height: 100px;
  width: 100px;
  background: teal;
  font-size: 50px;
}

#value {
  height: 100px;
  width: 100px;
  font-size: 90px;
  text-align: center;
}

/* Task-05 */
#name-form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* Task-06 */
#validation-form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#validation-input.valid {
  outline: 3px solid #4caf50;
}

#validation-input.invalid {
  outline: 3px solid #f44336;
}
/* Task-07 */

#font-size-form {
  /* display: flex; */
  text-align: center;
  margin-bottom: 50px;
}

/* Task-08 */

#controls {
  text-align: center;
}
#controls button {
  width: 250px;
  height: 100px;
}

#boxes div {
  display: inline-block;
  margin: 10px;
}
